:root {
  --clear: rgba(0, 0, 0, 0);
  --one: #ffa69e;
  --two: #faf3dd;
  --three: #b8f2e6;
  --four: #aed9e0;
  --five: #5e6472;
  --mobile: 640px;
}

/* ------------NAVBAR CSS-------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  overflow: scroll;
}
nav {
  display: flex;
  position: absolute;
  z-index: 10;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8vh;
  top: 0;
  background-color: white;
  font-family: sans-serif;
}

nav a {
  text-decoration: none;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  float: right;
}

.navbar-item {
  position: relative;
}

.navbar-item a {
  padding: 10px 5px;
  border-radius: 20% 20%;
  text-decoration: none;
  color: var(--five);
}

.navbar-item:hover .nav-item-link {
  color: white;
  background-color: darkblue;
}

.navbar .icon {
  display: none;
  transition: all 0.5s ease;
}

.navbar-dropdown-wrapper {
  display: none;
  background-color: white;
  border-radius: 0 20% 20%;
  top: 20px;
  width: 150px;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.2);
}

.navbar-item:hover .navbar-dropdown-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  position: absolute;
}

.navbar-dropdown-wrapper a {
  text-decoration: none;
  color: var(--five);
}

.navbar-dropdown-wrapper a:hover {
  color: white;
  background-color: darkblue;
}

.navbar-dropdown-item:hover .navbar-dropdown-item {
}

.navbar-searchbar {
  background: #14e37b;
}

.search-results {
  background: #14e348;
}

/* ----------MOBILE NAVBAR------------- */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .navbar .icon {
    display: block;
  }

  .navbar.responsive .icon {
    transform: rotate(90deg);
  }

  .navbar-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    width: 75%;
    background-color: var(--one);
    opacity: 1;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    align-items: flex-start;
  }

  .navbar.responsive body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .navbar.responsive .navbar-links {
    transition: transform 0.5s ease-in;
    transform: translateX(0%);
  }

  .navbar-item {
    opacity: 0;
  }

  .navbar-dropdown-wrapper a {
    display: block;
  }

  .navbar.responsive .navbar-item {
    animation-name: navTransition;
    animation-duration: 1.5s;
  }

  .navbar.responsive .navbar-item:hover .nav-item-link {
    color: blue;
    background-color: var(--clear);
  }

  .navbar-item .nav-item-link {
    font-size: 30px;
    padding: 0;
    color: blue;
    background-color: none;
  }

  .navbar.responsive .navbar-item {
    margin-left: 20%;
  }

  .navbar-dropdown-wrapper {
    background-color: var(--clear);
    box-shadow: none;
  }

  .navbar.responsive .navbar-dropdown-wrapper {
    display: inline-block;
    top: 0;
    position: relative;
    box-shadow: none;
  }

  .navbar-dropdown-wrapper a {
    color: purple;
    padding: 0;
    padding: 5px 10px;
    font-size: 20px;
  }

  .navbar.responsive .navbar-dropdown-wrapper a:hover {
    color: purple;
    background-color: var(--clear);
  }

  .navbar-dropdown-wrapper {
    display: block;
  }

  @keyframes navTransition {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

/* --------------PAGE CSS------------- */

.page {
  margin-bottom: 100px;
  padding-bottom: 20px;
}

/* --------------HOME CSS------------- */

.home {
  margin-top: 8vh;
}

/* -----------BLOG CSS ------------- */

.feed {
  margin-top: 8vh;
  font-family: "Roboto Condensed", sans-serif;
  color: var(--five);
}

.section {
  margin: 2vh 8vw;
  padding: 2vh 3vh;
  color: var(--five);
  position: relative;
}

.section-title {
  margin: 10px 20px;
}

.section-content {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: row;
}

.feed-item {
  width: 300px;
  height: auto;
  display: inline-block;
  margin: 10px;
  flex-grow: 1;
  text-align: center;
}

.feed-item .main {
  border-bottom: 2px solid var(--five);
  margin: 10px 10px;
  padding-bottom: 5px;
  text-align: left;
}

.feed-item .info {
  text-align: left;
  margin: 0 10px;
}

.image-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  height: 0;
}

.feed-item img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

.feed-item .info img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  position: relative;
}

.feed-item h1 {
  font-weight: 700;
}

.feed-item h2 {
  font-weight: 400;
  font-style: italic;
}

.feed-item h3 {
  font-weight: 400;
  margin-top: 5px;
}

.feed-item p {
  font-weight: 300;
  margin: 5px 0px;
}

.feed-item button {
}

.feed-item a {
  text-decoration: none;
  color: var(--one);
}

.post {
  font-family: "Roboto Condensed", sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  position: relative;
  display: inline-block;
}

.header img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

.header-text {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  padding: 5%;
}

.header h1 {
  font-weight: 700;
  font-size: 12vw;
}

.header h2 {
  font-weight: 400;
  font-style: italic;
  font-size: 10vw;
}

.header h3 {
}

.header p {
  font-weight: 300;
  font-size: 3vw;
}

.header i {
  position: absolute;
  bottom: 0;
  font-size: 4em;
  margin-bottom: 1vh;
  transform: translateX(-50%);
}

.content {
  margin: 0 20vw;
}

.content h1 {
  font-size: 5vw;
  font-weight: 400;
}

.content h2 {
  font-size: 3vw;
  font-weight: 400;
}

.content h3 {
  font-size: 2vw;
  font-weight: 300;
}

.content h4 {
  font-size: 1.5vw;
  font-weight: 300;
}

.content p {
  margin: 1.5em 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
}

.content ul {
  list-style-position: outside;
}

.content li {
  line-height: 1.7;
  font-size: 20px;
  font-weight: 300;
}

.content img {
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip:focus {
  outline: none;
}

.tooltiptext {
  visibility: hidden;
  width: 200px;
  height: 150px;
  overflow: scroll;
  background-color: gray;
  color: black;
  text-align: left;
  border-radius: 5px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  padding: 5px;
  margin-left: -100px;
  margin-bottom: 10px;
  z-index: 2;
  cursor: text;
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.progress-bar {
  position: fixed;
  margin: 0;
  top: 0;
  width: 0;
  height: 10px;
  background-color: var(--three);
  display: none;
}

/* -----------FOOTER CSS------------ */

.footer {
  font-family: "Roboto Condensed", sans-serif;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin: 0;
}

.footer-item {
  display: inline-block;
}

.footer-links {
  display: inline-block;
}

/* ----------SUBSCRIPTION CSS---------- */

.unsubscribe-page {
}

.subscribe-popup {
}

/* ----------UTIL CSS---------- */
h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

.overlay {
  z-index: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  background: rgba(0, 0, 0, 0.7);
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--five);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
